# Site name
SITE_NAME="Nuxt x Payload"

# Nuxt front-end URL
SITE_URL="http://localhost:3000"

# Payload URL
PAYLOAD_URL="http://localhost:3001"
# Payload API route
PAYLOAD_API_ROUTE="/payload-api"
# Payload secret key
PAYLOAD_SECRET=PAYLOAD_SECRET

# MongoDB database name
DATABASE_NAME=DATABASE_NAME
# MongoDB database URL
DATABASE_URL=DATABASE_URL

# S3 Region
S3_REGION=
# S3 Bucket
S3_BUCKET=
# S3 Access Key ID
S3_ACCESS_KEY_ID=
# S3 Secret Access Key
S3_SECRET_ACCESS_KEY=

# Cloudfront Domain
CLOUDFRONT_DOMAIN=