# Nuxt's Nitro server host
NITRO_HOST="localhost"
# Nuxt's Nitro server port
NITRO_PORT="3000"

# Site name
SITE_NAME="Nuxt x Payload"
# Site URL
SITE_URL="http://localhost:3000"

# Payload URL
PAYLOAD_URL="http://localhost:3001"
# Route for Payload API
PAYLOAD_API_ROUTE="/payload-api"